{% extends "network/layout.html" %}

{% block body %}
    <h1>Repositorie: <span style="font-weight: normal"> {{ repo.name }} </span> </h1>
    ADD
    <form method = "post">
        {% csrf_token %}
        {{ form_name }}
        <input type="submit", name = 'add', value = "add">
    </form>
    {{error}}
    <ul>
        <li>Id: {{ repo.id }}</li>
        <li>Description: {{ repo.description}}</li>
        <li>Link: <a href= "{{repo.link}}"}"> {{repo.link}}</a></li>
        <li>Tags: 
            {%for tag in repo.tags.all%}
                {{tag.name}}
            {%endfor%}
        </li>
    </ul>
    DELETE
    <form method = "post", name = "delete">
        {% csrf_token %}
        {{ form_del }} 
        <input type = "submit", value = "delete", name = "delete"> 
    </form>
    EDIT 
    <form method = "post", name = "edit">
        {%csrf_token%}
        {{form_edit}}
        {{form_new}}
        <input type = "submit", value = "edit", name = "edit">
    </form>

    
{% endblock %}
