{% extends "network/layout.html" %}

{% block body %}
    <h1>Repo {{ repo.id }}</h1>
    ADD
    <form method = "post">
        {% csrf_token %}
        {{ form_name }}
        <input type="submit", name = 'Add', value = "Add">
    </form>
    {{error}}
    <ul>
        <li>Name: {{ repo.name }}</li>
        <li>Description: {{ repo.description}}</li>
        <li>Link: {{ repo.link }}</li>
        <li>Tags: 
            {%for tag in repo.tags.all%}
                {{tag.name}}
            {%endfor%}
        </li>
    </ul>
    DELETE
    <form method = "post", name = "delete">
        {% csrf_token %}
        {{ form_del }} 
        <input type = "submit", value = "delete", name = "delete"> 
    </form>
    EDIT 
    <form method = "post", name = "edit">
        {%csrf_token%}
        {{form_edit}}
        {{form_new}}
        <input type = "submit", value = "edit", name = "edit">
    </form>

    
{% endblock %}
